a.tooltip > span
{
      -moz-position: absolute;
      position: absolute;
      
      -moz-top: 0px;
      -moz-left: -25px;
      top:-50px;
      
      width: 75px;
      height: 10px;
      
      -moz-line-height: 20px;
      line-height: 20px;
      
      -moz-padding: 10px;
      padding: 10px;
      
      font-size: 14px;
      text-align: center;
      color: rgb(0, 0, 0);
      background: rgb(255, 255, 255);
      
      -moz-border: 4px solid rgb(255,255,255);
      border: 4px solid rgb(255, 255, 255);
      
      -moz-border-radius: 5px;
      border-radius: 5px;
      
      visibility: hidden;
      opacity: 1;
      
}

a.tooltip:hover > span {
      visibility:visible;
      opacity:1;    
      overflow: 1;
      display: run-in;
      font-weight:bolder;   
}

a.tooltip:hover:after
{      
      content: "";
      opacity:1;
      
      -moz-position: absolute;
      position: absolute;
      
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      
      
      -moz-top: 0px;
      -moz-left: -40px;
      top: -15px;
      left: 40px;     
  }